@import '~bootstrap/scss/bootstrap';

// ////////////////////////////////////////////////// Colors & Fonts //////////

$black: #000;
$white: #fff;
$red: #f00;
$banner-green: #125807;
$banner-link-green: #11ff0c;
$heading-green: #04b700;
$article-grey: #e3e3e3;
$waiv-olive: #828d80;

.karla {
  font-family: 'Karla', sans-serif;
}

.roboto-mono {
  font-family: 'Roboto Mono', monospace;
}

// ////////////////////////////////////////////////////////// Header //////////

header {
  align-items: center;
  background-color: $black;
  display: flex;
  justify-content: center;
}

.name {
  color: $heading-green;
  font-family: 'Karla', sans-serif;
  font-size: 60px;
  padding: 1%;
  text-align: center;
}

// ///////////////////////////////////////////////////////// Content //////////

.content {
  display: flex;
}

// ////////////////////////////////////////////////////////// Banner //////////

.banner {
  align-items: center;
  background-color: $banner-green;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin: 30px;
  width: 25%;
}

// intro //////////

.image > img {
  background-color: $article-grey;
  border-radius: 200px;
  height: 140px;
  margin-top: 30px;
  width: 140px;
}

.intro > p {
  color: $white;
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

// banner links //////////

.group {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;

}

.link {
  color: $banner-link-green;
  font-family: 'Roboto Mono', monospace;
  font-size: 17px;
  margin: 20px;
  margin-bottom: 5px;
  text-align: center;
}

.link:hover {
  color: $banner-link-green;
}

// /////////////////////////////////////////////////////////// Story //////////

.story {
  margin: 30px;
  width: 75%;
}

// article //////////

h2 {
  color: $heading-green;
  font-family: 'Roboto Mono', monospace;
  font-weight: bold;
  margin-right: 5%;
  text-align: right;
}

article > p {
  background-color: $article-grey;
  border-radius: 10px;
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
  padding: 20px;
}

.pseudo-textbox {
  background-color: $article-grey;
  border-radius: 10px;
}

.pseudo-textbox > p {
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
  padding: 20px;
}

// modals //////////

.modal-dialog {
  width: 50%;
}

.modal-body {
  display: flex;
  flex-direction: column;
}

.modal-content {
  width: 900px;
}

.nav-link {
  color: $banner-green;
}

.nav-link:hover {
  color: inherit;
}

.about {
  background-color: $waiv-olive;
  border-radius: 15px;
  display: flex;
  font-family: 'Roboto Mono', monospace;
  margin-bottom: 16px;
  text-align: center;
}

.fake-logo {
  padding: 50px;
  text-align: center;
}

.wt {
  color: $white;
}
